* {
  background-color: #181818;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
}

aside {
  width: 18vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  align-items: center;
}

#sidebarTitle {
  font-size: 1.3rem;
  color: #eef2f7;
  font-family: 'Geneva';
}

#divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
  background-color: #333030;
  height: .8px;
}

span {
  width: 90%;
  font-size: .75rem;
  color: rgb(203, 200, 200);
  font-family: 'Geneva';
}

main {
  width: 100%;
  height: 100vh;
  background-color: #eef2f7;
}

button {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  background-color: #333030;
  padding: .8rem 1.5rem;
  border-radius: 2px;
  color: rgb(203, 200, 200);
  width: 90%;
}

p {
  font-size: 1.5rem;
}