* {
  background-color: #181818;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
}

aside {
  width: 18vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  align-items: center;
}

#sidebarTitle {
  font-size: 1.3rem;
  color: #eef2f7;
  font-family: 'Geneva';
}

#divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
  background-color: #333030;
  height: .8px;
}

span {
  width: 90%;
  font-size: .75rem;
  color: rgb(203, 200, 200);
  font-family: 'Geneva';
}

main {
  width: 100%;
  height: 100vh;
  background-color: #eef2f7;
}

button {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  background-color: #333030;
  padding: .8rem 1.5rem;
  border-radius: 2px;
  color: rgb(203, 200, 200);
  width: 90%;
}

header {
  width: 100%;
  display: flex;
  padding: 1.5rem 0;
  background-color: #181818;
}

header div#wrapper {
  width: 40%;
  display: flex;
  margin-left: auto;
}

header div#wrapper input {
  width: 100%;
  height: 2.7rem;
  background-color: #353739;
  border-radius: 4px;
  padding: 0px 20px;
  color: white;
  outline: none;
}

#myPhoto {
  margin-left: 3rem;
  margin-right: 2rem;
  min-width: 2.7rem;
  max-width: 2.7rem;
  width: 100%;
  height: 2.7rem;
  background-color: aqua;
  border-radius: 1.35rem;
}

#imageAlbun {
  display: flex;
  width: 100%;
  height: calc(50vh - 1.5rem - 2.7rem);
  background-image: linear-gradient(to bottom, rgba(44, 44, 45, 0.271), #131313b4), url(https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.6435-9/144054649_3528106023955065_226716874928581994_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=aRCVkzxiPkUAX8Ci7vT&_nc_ht=scontent.fmgf1-1.fna&oh=00_AfAPaDol0_tQLaZGFvoQHcS2fvo2-xldFKAFoGS9pFF15Q&oe=63C5BB81);
  background-repeat: no-repeat;
  background-size: cover;
}

#name {
  width: fit-content;
  padding: 2.5rem;
  background-color: transparent;
  color: #eef2f7;
}

#name h1 {
  font-size: 5rem;
  font-family: 'Arial';
  font-weight: 800;
  background-color: transparent;
}

#name span, p {
  color: #eef2f7;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}

#name span {
  font-weight: bold;
}